<h1>Books</h1>

<%= form_with model:  @books do |f| %>

  <p>Title</p>
  <span><%= book.title %></span>
  
  <p>Body</p>
  <span><%= book.body %></span>
  
  <a>Show</a>
  <a>Edit</a>
  <a>Destroy</a>
  
<% end %>


